.input {
  border: 2px solid transparent;
  width: 24rem;
  height: 3.5rem;
  padding-left: 0.8rem;
  outline: none;
  overflow: hidden;
  background-color: #f3f3f3;
  border-radius: 10px;
  transition: all 0.5s;
  font-size: 1.3rem;
}

.input:hover,
.input:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px
    rgb(74, 157, 236, 20%);
  background-color: white;
}
